@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 51,65,85;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51,65,85;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.125rem
}

h2 {
  font-size: 1.875rem
}

h3 {
  font-size: 1.5rem
}

h4 {
  font-size: 1.25rem
}

p {
  font-size: 1rem
}

input, option, select {
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
